@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --gold-color: #CC942E;
    --red-color: #D91924;
    --gold2-color: #E9AB33;
    --gold3-color: #947025;
    --gold4-color: #a58535;
}

html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    font-family: "Poppins", sans-serif;
}

body {
    height:100vh;
    height: 100dvh;
    background-image: url(bg_quiz.webp);
    background-position: center top;
    background-size: cover;
    background-repeat: repeat-y;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    
    /* padding: 0 !important; */
    /* margin: 0 !important; */
}

header {
    height: 100px;
    background-color: #f8f9fa;
    /* background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 70)); */
    color: var(--gold3-color);
}

header img {
    width: 75px;
}

#question-container {
    background-color: #f8f9fa;
}

#timer {
    font-family: "Orbitron", sans-serif;
    text-transform: uppercase;
}

#timer,
#score,
#questionNumber {
    font-size: 1.6rem;
    font-weight: 600;
}

#score i {
    color: var(--gold3-color);
}

#question {
    font-size: 1.5rem;
    margin: 10px 0 10px 0;
}

#timer,
#questionNumber {
    background-color: var(--gold4-color);
    color: #fff;
    width: fit-content;
}

#questions {
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.grid-item {
    text-align: center;
}

.correct {
    background-color: green;
    color: white;
}

.incorrect {
    color: var(--red-color);
    /* background-color: red;
    color: white; */
}

.eliminated {
    background-color: grey;
    color: white;
    opacity: 0.6;
}

.btn {
    font-size: 1.6rem;
}

.button {
    /* display: inline-block; */
    /* padding: 10px 30px; */
    font-size: 1.6rem;
    font-weight: bold;
    /* text-transform: uppercase; */
    color: white;
    background: #005cc6;
    /* Cor de fundo */
    border: none;
    /* border-radius: 10%; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    /* Sombra */
    transform: skew(-10deg);
    /* Inclinação do botão */
    position: relative;
    overflow: hidden;
    /* margin: 0 -14px; */
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
    /* Realce na sombra ao passar o mouse */
}

#help-btn {
    background-color: var(--gold4-color);
    color: #fff;
    font-weight: 600;
}

#help-btn:hover {
    background-color: #b4923b;
}

#skip-btn {
    background-color: var(--red-color);
    font-weight: 600;
}

#skip-btn:hover {
    background-color: #f51b26;
}

a {
    text-decoration: none;
    color: var(--gold4-color);
}

.modal-content {
    width: auto;
}

.modal p {
    font-size: 1.2rem;
}

/* Responsividade */
@media (min-width: 768px) {
    #question-container {
        width: 70%;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    .button {
        padding: 10px;
    }

    #btns {
        gap: 10 !important;
    }
}

@media (min-width: 1024px) {
    #logo-index {
        width: 200px !important;
    }

    #principal {
        width: 100%;
    }

    #question-container {
        width: 80%;
    }

    #questions {
        padding: 3rem 2rem;
    }

    .grid-container {
        grid-template-columns: 1fr 1fr;
        column-gap: 70px !important;
        row-gap: 30px !important;
    }

    .button {
        padding: 10px;
    }

    #modal-cores {
        display: flex;
    }

    #modal-cores .btn {
        width: auto;
    }
}
